<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext }}</p>




{% schema %}
    {
        "name": "Template 404",
        "tag": "section",
        "class": "flex flex-row items-center justify-center text-center py-16 h-screen",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "404 Found"
            },
            {
                "type": "textarea",
                "id": "subtext",
                "label": "Subtext",
                "default": "The Page you are looking for could not be found. Please check the URL or return to the homepage."
            }
        ]
    }
{% endschema %}
